<div class="linkedinCard">
    <img src="https://media-exp1.licdn.com/dms/image/C4D03AQHeZLymqaOgHA/profile-displayphoto-shrink_400_400/0/1562402618930?e=1640822400&v=beta&t=tEwdryrvhQPo1UOXSNZuluYC5KmHW0zHDJPAq5lR8zc" />
    <mat-card [class.mat-elevation-z8]='true'>  
        <mat-card-title>Matthew Stark</mat-card-title>
        <mat-card-subtitle>(He/Him)</mat-card-subtitle>
        <mat-card-content>
            Software Engineer at Microlise. 
            Connect with me on <a href="https://www.linkedin.com/in/matthewpstark/">LinkedIn</a>
        </mat-card-content>
    </mat-card>
</div>