<div class="linkedinCard"> 
    <img src="{{ portfolioService.profilePicture | async }}" />
    <mat-card [class.mat-elevation-z8]='true'>  
        <mat-card-title>
            {{ portfolioService.fullName | async }}   <fa-icon [icon]="faLinkedin"></fa-icon
        ></mat-card-title>
        <mat-card-subtitle>({{ portfolioService.pronouns | async }})</mat-card-subtitle>
        <mat-card-content>
            {{ portfolioService.smallDescription | async }} 
            Connect with me on <a href="{{ portfolioService.linkedInUrl | async }}"> LinkedIn </a>
        </mat-card-content>
    </mat-card>
</div>